video
/ava_made/Dataset/choose_frames
/ava_made/Dataset/choose_frames_all
/ava_made/Dataset/choose_frames_middle
/ava_made/Dataset/frames
/ava_made/Dataset/rawframes
/ava_made/Dataset/output
/ava_made/Dataset/video_crop
/ava_made/Dataset/videos
/ava_made/yolovdeepsort/v10
/ava_made/yolovdeepsort/yolov5
/ava_made/yolovdeepsort/deep_sort_pytorch
/mmaction2/Checkpionts
ava_made/yolovdeepsort/yolov10s.pt
ava_made/yolovdeepsort/yolov8n.pt
ava_made/yolov8n.pt
ava_made/yolov10s.pt
mmaction2/work_dirs/ava/slowfast_kinetics_pretrained_r50_4x16x1_20e_ava_rgb/best_mAP@0.5IOU_epoch_10.pth
mmaction2/work_dirs/ava/slowfast_kinetics_pretrained_r50_4x16x1_20e_ava_rgb/latest.pth
